.feedback{
    background:#fff;
    /*height: rem(650px);*/
    padding: rem(60px) rem(0px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }
  
  
  
  
  .feedback__headline{
  display: block;
  margin-left: rem(400px);
  margin-top: rem(0px);
  }
  
  
  .feedback__text{
    
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;  /*делает все буквы прописными*/
    color: #292929;
  }
  
  .feedback__subtitle{
  font-style: normal;
  font-weight: bold;
  font-size: rem(24px);
  line-height: rem(28px);
  color: #292929;
  }
  
  .feedback__contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(940px);
    height:rem(450px) ;
    padding: rem(42px);
    background: #F8FAF9;
    margin-bottom: rem(20px);

  
  }

  .feedback__spisok__one{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feedback__item__one{
    display: flex;
    position: absolute;
    opacity: 0;
    //display: none;
  }

  .feedback__item__one--activ{
    //display: block;
    opacity: 1;
  }





  
  
  .feedback__desk{
    display: block;
    margin-left: rem(40px);
    max-width: rem(500px);
    max-height: rem(264px);
  }
  
  .feedback__content__name{
    display: block;
    margin-top: rem(50px);
  }
  
  .feedback__spisok{
    display: flex;
    margin-top: -rem(40px);
    justify-content: center;
     
  }
  
  
  .feedback__list{
    display: flex;
  }
  
  .feedback__item{
    margin-right: rem(20px);
    border:5px solid transparent;
    border-radius: 50%;
  }

  .feedback__item--active{
    border-color:red;
  }

  .feedback__link{
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .feedback__icon{
    overflow-x:  hidden; 
    border-radius: 50%;
    width: rem(75px);
    height: rem(75px);
  }
  
  .feedback__item:last-child{
    margin-right: rem(0px);
  }
  
  .feedback__item--activ{
    border: solid rem(5px) red;
    border-radius: 50%;
    width: rem(85px);
    height: rem(85px);
  
  }
  