
  .slider{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    background:url("slider/Slider.png") ;
    //overflow: hidden;
    object-fit:cover; 
  }
  
  //.slider__pictures{
    /*background: url('slider/Slider.png') no-repeat;
    почему так странно отбразилась картинка я же поставил не повторение*/
    //overflow: hidden;
   // object-fit: cover;   //полное заполнение блоков
    //margin-left: -rem(200px);
     
  //}

  .container__slider{
    height: 100%;
    width: 100%;
  }
  
  .slider__text{
    color:#fff;
    margin-left: rem(85px);
    margin-top: rem(90px);
    position: absolute;
  }

 

  
  //.slider__block{
  //  width: rem(300px);
  //  height: 100vh;
  //  display: flex; 
  //}
  
  .slader__item{               //ul
    //display: flex;
    //justify-content: space-between;
    position: absolute;
    display: flex;
    right:  0;
    top:0;
    bottom:0;
  
  }
  
  
 
 


  .slider__list__one{         //li
    display: flex;
    width: rem(100px);
    height: 100vh;
    justify-content: flex-start;
    background:  #999999;
    //padding: rem(20px);
    position: relative;
    
  }
  
  
  .slider__list__two{
    display: flex;
    width: rem(100px);
    height: 100vh;
    background: #151515;
    //padding: rem(20px);
    
   
  }
  
  
  
  .slider__list__three{
    display: flex;
    width: rem(100px);
    height: 100vh;
    background: #E01F3C;
    justify-content: flex-end;
    //padding: rem(20px);
    
    
  }

  .slider__text__vloz--one ,.slider__text__vloz--two, .slider__text__vloz--three{     //текст внутри блоков ли
    color:#fff;
    transform: rotate(-90deg);
    height: rem(36px);  
    white-space: nowrap;    /*текст в одну строку*/
    font-size: rem(36px);
    text-decoration: none;
   
  }

  .slider__text__vloz--one{
    position: absolute;
    top: rem(200px);
    right:-4rem;
    margin: 0;

  }

  .slider__text__vloz--two{
    position: absolute;
    top: rem(200px);
    right:2rem;
    margin: 0;
  }

  .slider__text__vloz--three{
    position: absolute;
    top: rem(200px);
    right:-4rem;
    margin: 0;
  }




  .slider__content{
    background: rgba(51, 53, 55, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;

    //padding: rem(20px);   //падинг не делаем ибо он входит в ширину и высоту эл-та и получается зазор даже при ширине 0
  }

  

  .slider__list--activ .slider__content{
    width: rem(500px);
  }
  

  .slider__content__one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: rem(10px);
  }


  .slider__text__two{
    position: relative;
  }

  .slider__button{
    position: relative;
    width: rem(15px);
    height: rem(15px);
    background: #ffff;
    top:rem(20px);
    right: rem(20px);

  }

  
 
  
  
  
  
  
  
  